html, body {
    height: 100%;
    margin: 0;
}

/* H E A D E R - D E T A I L S */

.header-wrapper {
    min-height: 100%; 
    background-color: #ccc;
}

.header-left {
	width: 50%;
	min-height: 100%;
	background-color: pink;
	float: left;
}

.header-right {
	width: 50%;
	min-height: 100%;
	background-color: green;
	float: right;
}

/* F O O T E R - D E T A I L S */

.footer {
	position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}