/* F O N T S */
@import url('https://fonts.googleapis.com/css?family=Lato|Playfair+Display');

/* B O D Y */
html, body {
    height: 100%;
    margin: 0;
}

/* H E A D E R - D E T A I L S */
.header-wrapper {
    min-height: 100%; 
    background-color: #fff;
    font-family: 'Lato', sans-serif;
}

.header-left {
	width: 50%;
	min-height: 100%;
    background-color: white;
    background-image: url("../img/header.jpeg");
    background-position: top left;
    background-repeat: no-repeat;
    background-position: 33%;
	float: left;
}

.header-right {
	width: 50%;
	min-height: 100%;
	float: right;
    background-color: #f0f1f5;
    display: flex;
    align-items: center;
}

.header-right-box {  
    margin: auto;
    width: 50%;

}

.header-right-box h1 {
    color: #e8c158;
    font-size: 30pt;
    line-height: 5px;
    font-family: 'Playfair Display', serif;
}

.header-right-box h2 {
    font-family: 'Playfair Display', serif;
}

.header-icons {
    padding-top: 45px;
}

.header-icons a {
    color: black;
    text-decoration: none;
    padding-right: 15px;
    opacity: 0.80;
    transition: opacity .4s ease-out;
    -moz-transition: opacity .4s ease-out;
    -webkit-transition: opacity .4s ease-out;
    -o-transition: opacity .4s ease-out;
    
}

.header-icons a:hover {
    opacity: 1;
    text-decoration: none;
    color: black;
}

.arrow {
    text-align: left;
    margin: 0 0;
    position: absolute;
    bottom: 0px;
    left: 49.1%;
    font-size: 35pt;
    font-weight: bold;
}

.arrow a {
    text-decoration: none;
    color: #D6BBB9;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@include keyframes(bounce) {
    0%, 20%, 50%, 80%, 100% {
    @include transform(translateY(0));
  }
    40% {
    @include transform(translateY(-30px));
  }
    60% {
    @include transform(translateY(-15px));
  }
}


/* F O O T E R - D E T A I L S */

.footer {
	position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}